# Ignorar logs e arquivos do sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Dependências (NUNCA envie para o Git)
node_modules/

# Arquivos de Build/Produção
# (Frontend React)
build/
dist/
.parcel-cache/

# (Backend TypeScript - se usarmos)
dist/

# Arquivos de Senhas e Configuração Local (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE e arquivos temporários
.vscode/
.idea/